<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Cartilor</title>
</head>
<body>

<form action="/" method="post">
    <input type="text" name="isbn" placeholder="ISBN" /> <br>
    <input type="text" name="titlu" placeholder="Titlu" /> <br>
    <input type="text" name="autor" placeholder="Autor" /> <br>
    <button type="submit" formaction="/adauga">Adauga</button>
    <button type="submit" formaction="/modifica">Modifică</button>
    <button type="submit" formaction="/sterge">Șterge</button>
    <button type="submit" formaction="/filtreaza">Filtrează</button>
</form>

<h3 th:text="${mesaj}"/>
<table>
    <thead>
    <tr>
        <th>ISBN</th>
        <th>Titlu</th>
        <th>Autor</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="carte : ${carti}">
        <td th:text="${carte.getIsbn()}"></td>
        <td th:text="${carte.getTitlu()}"></td>
        <td th:text="${carte.getAutor()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
